@model AddressCreateViewModel

<form asp-action="Create" method="post" class="form-horizontal" role="form">
   
    @Html.HiddenFor(a => a.CustomerId);

    <h4>Enter new address below:</h4>
    <hr />

    <div class="form-group">
        @foreach (CustomerModels.AddressType addrType in Enum.GetValues(typeof(CustomerModels.AddressType)))
        {
            <input type="radio" asp-for="AddressType" value="@addrType" />@addrType<br />
        }
    </div>

    <div class="form-group">
        <label asp-for="StreetLine1" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="StreetLine1" class="form-control" />
        </div>
        <span asp-validation-for="StreetLine1" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="StreetLine2" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="StreetLine2" class="form-control" />
        </div>
        <span asp-validation-for="StreetLine2" class="text-danger"></span>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => Model.SelectedCountry, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.DropDownListFor(x => Model.SelectedCountry, new SelectList(Model.Countries, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "Country" })
            @Html.ValidationMessageFor(x => x.SelectedCountry, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => Model.SelectedRegion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.DropDownListFor(x => Model.SelectedRegion, new SelectList(Model.Regions, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "Region" })
            @Html.ValidationMessageFor(x => x.SelectedRegion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label asp-for="City" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="City" class="form-control" />
        </div>
        <span asp-validation-for="City" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PostalCode" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="PostalCode" class="form-control" />
        </div>
        <span asp-validation-for="PostalCode" class="text-danger"></span>
    </div>

    <div class="form-group">
        <div class="col-md-2 col-md-5">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </div>
</form>

@section Scripts {
        <script type="text/javascript">
                $('#Country').change(function () {
                    var selectedCountry = $("#Country").val();
                    var regionsSelect = $('#Region');
                    regionsSelect.empty();
                    if (selectedCountry != null && selectedCountry != '') {
                        $.getJSON('@Url.Action("GetRegions")', { countryCode: selectedCountry }, function (regions) {
                            if (regions != null && !jQuery.isEmptyObject(regions))
                            {
                                regionsSelect.append($('<option/>', {
                                    value: null,
                                    text: "--- select state / region ---"
                                }));
                                $.each(regions, function (i, region) {
                                    regionsSelect.append($('<option/>', {
                                        value: region.value,
                                        text: region.text
                                    }));
                                });
                            };
                        });
                    }
                });
        </script>
    }