@model IEnumerable<AddressModel>

@{
    ViewData["Title"] = "List of Addresses";
}

<h1>List</h1>
<h4>Total Addresses: @Model.Count()</h4>
<p>
    <a asp-action="Create">Add New Address</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var address in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => address.StreetLine1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => address.StreetLine1)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@address.AddressId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@address.AddressId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>